<div>
    <div class="row align-items-center justify-content-between header-container"
        style="background-color: #0747a6; max-width: 100%; box-sizing: border-box;margin: 0px;padding: 0px;">
        <div class="col-auto">
            <mat-icon (click)="goBack()" style="color: #f0f0f0;">arrow_back</mat-icon>
        </div>
        <div class="col text-center">
            <h2 style="color: white;">CLIENT DETAILS</h2>
        </div>
    </div>
    <div class="scrollable-container" style="background-color: #f0f0f0;">
        <div class="container">
            <form [formGroup]="clientInfo">
                <div class="mt-3 justify-content-center align-items-center">
                  <!-- First Name Field -->
                  <div class="row">
                    <div class="col-md-6">
                      <div>
                        <label class="form-label" style="font-weight: 500;">First Name:</label>
                        <input type="text" placeholder="Enter the First Name" class="form-control" formControlName="firstName">
                      </div>
                      <div *ngIf="clientInfo.get('firstName')?.invalid && clientInfo.get('firstName')?.touched" class="text-danger">
                        <!-- {{ getErrorMessage('firstName') }} -->
                        First Name is Required
                      </div>
                    </div>
              
                    <!-- Last Name Field -->
                    <div class="col-md-6">
                      <div>
                        <label class="form-label" style="font-weight: 500;">Last Name:</label>
                        <input type="text" placeholder="Enter the Last Name" class="form-control" formControlName="lastName">
                      </div>
                      <div *ngIf="clientInfo.get('lastName')?.invalid && clientInfo.get('lastName')?.touched" class="text-danger">
                        <!-- {{ getErrorMessage('lastName') }} -->
                        Last Name is Required
                      </div>
                    </div>
                  </div>
              
                  <!-- Company Name Field -->
                  <div class="row mt-2">
                    <div class="col">
                      <div>
                        <label class="form-label" style="font-weight: 500;">Company Name:</label>
                        <input type="text" placeholder="Enter the Company Name" class="form-control" formControlName="companyName">
                      </div>
                      <div *ngIf="clientInfo.get('companyName')?.invalid && clientInfo.get('companyName')?.touched" class="text-danger">
                        <!-- {{ getErrorMessage('companyName') }} -->
                        Company Name is Required
                      </div>
                    </div>
                  </div>
              
                  <!-- Address Field -->
                  <div class="row mt-2">
                    <div class="col">
                      <div>
                        <label class="form-label" style="font-weight: 500;">Address:</label>
                        <textarea placeholder="Description..." class="form-control" formControlName="address"></textarea>
                      </div>
                      <div *ngIf="clientInfo.get('address')?.invalid && clientInfo.get('address')?.touched" class="text-danger">
                        <!-- {{ getErrorMessage('address') }} -->
                        Address is Required
                      </div>
                    </div>
                  </div>
              
                  <!-- Email Field -->
                  <div class="row">
                    <div class="col-md-6">
                      <div>
                        <label class="form-label" style="font-weight: 500;">Email Id:</label>
                        <input type="email" placeholder="Enter the email Id" class="form-control" formControlName="email">
                      </div>
                      <div *ngIf="clientInfo.get('email')?.invalid && clientInfo.get('email')?.touched" class="text-danger">
                        <!-- {{ getErrorMessage('email') }} -->
                        Email Id is Required
                      </div>
                    </div>
              
                    <!-- Mobile Number Field -->
                    <div class="col-md-6">
                      <div>
                        <label class="form-label" style="font-weight: 500;">Mobile No:</label>
                        <input type="tel" placeholder="Enter the Mobile No" class="form-control" formControlName="mobile">
                      </div>
                      <div *ngIf="clientInfo.get('mobile')?.invalid && clientInfo.get('mobile')?.touched" class="text-danger">
                        <!-- {{ getErrorMessage('mobile') }} -->
                        Mobile Number is Required
                      </div>
                    </div>
                  </div>
              
                  <!-- Meeting Topic Field -->
                  <div class="row">
                    <div class="col-md-6">
                      <div>
                        <label class="form-label" style="font-weight: 500;">Meeting Topic:</label>
                        <input type="text" placeholder="Enter the topic" class="form-control" formControlName="meetingTopic">
                      </div>
                      <div *ngIf="clientInfo.get('meetingTopic')?.invalid && clientInfo.get('meetingTopic')?.touched" class="text-danger">
                        <!-- {{ getErrorMessage('meetingTopic') }} -->
                        Meeting Topic is Required
                      </div>
                    </div>
                  </div>
              
                  <!-- Schedule Meeting Field -->
                  <div class="row">
                    <div class="col">
                      <div>
                        <label class="form-label" style="font-weight: 500;">Schedule Meeting:</label>
                        <input type="datetime-local" class="form-control" formControlName="scheduleMeeting">
                      </div>
                      <div *ngIf="clientInfo.get('scheduleMeeting')?.invalid && clientInfo.get('scheduleMeeting')?.touched" class="text-danger">
                        <!-- {{ getErrorMessage('scheduleMeeting') }} -->
                        Meeting Time is Required
                      </div>
                    </div>
                  </div>
              
                  <!-- Submit & Cancel Buttons -->
                  <div class="row mt-4 mb-5">
                    <div class="col d-flex">
                      <button 
                        type="button" 
                        class="btn-primary" 
                        style="border-radius: 6px;width: 100px;background-color: #0747a6;border-color: #0747a6;" 
                        (click)="submitForm()" 
                        [disabled]="clientInfo.invalid" [ngStyle]="clientInfo.invalid ? {'backgroundColor': 'grey' , 'border-color': 'grey'} : {'backgroundColor':'#0747a6'}">
                        Save
                      </button>
                      &nbsp;&nbsp;
                      <button *ngIf="!showData"
                        type="button" 
                        class="btn-primary" 
                        style="border-radius: 6px;width: 100px;background-color: #0747a6;border-color: #0747a6;" 
                        (click)="resetForm()">
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              
        </div>
    </div>
</div>